

body {
    font: 16px Futura, sans-serif;
    background: #140e68;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 0px 0px 0px;
    min-height: 100vh;
    min-width: 960px;
}

article {
    margin: 40px auto;
    max-width: 960px;
    padding: 80px 50px;
    flex: 1;
    margin-top: 40px; 
    margin-bottom: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}


#reference img {
    max-width: 100%;
    height: auto;
}

.domu-article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px max-content;
    align-items: center;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0;
    color: #ffffff;
}

article h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    border-bottom: 4px solid #000000;
}

article h2 {
    font-size: 2em;
}

article header {
    height: 100px;
}

article section p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

article section a {
    color: #fffafa;
}

.domu-article img {
    width: 350px; 
    margin-left: 30px; 
    margin-right: 30px; 
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 2;
}


.centrovany {
    text-align: center;
}

#skills img.icon {
    width: 128px;
}

img {
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(1.1); 
}

body > header {
    height: 100px;
    width: 100%;
    background: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 40px;
    margin: auto 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('obrazky/logo.png') no-repeat;
    background-size: 40px 40px
}

#logo > * {
    margin: 0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}
    
nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid #0000cd;
}

.kontakt-tlacitko {
    background:	#0000cd;
    padding: 10px 20px;
    border-radius: 20px;
}

.kontakt-tlacitko:hover,
.reference-tlacitko:hover {
    filter:brightness(115%) contrast(85%);
    border: 0;
}

article section .links {
    display: flex;
}

.article-icons {
    display: flex;
}

.article-icons .links img {
    width: 60px;
    height: auto;
}

.article-icons .links img {
    max-width: 100%;
    height: auto;
}

.article-icons .links.linkedin img {
    width: 60px; 
    height: auto;
}

.links {
    margin-right: 10px;
}

.links:last-child {
    margin-right: 0;
}

.article-icons .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-icons .links img {
    width: 60px;
    height: auto;
    max-width: 100%;
    display: block; 
    margin: 0 auto; 
}

footer {
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #414042;
    padding: 50px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
}

footer a {
    color: white;
    text-decoration: none;
}
